{% extends 'base.html' %}

{% block title %}{{ child.name }}{% endblock %}

{% block content %}
<div class="block">Home > <a href="{{url_for('relations.parents')}}"> Dinasties</a> >{{child.parent.name}} > {{ child.name }}</div>
<div class="columns">
	<div class="column is-one-third">
		{% if child.image_url %}
		<figure class="image">
			<img class="empereur-img" src="{{child.image_url}}" alt="{{child.name}}">
		</figure>
		{% endif %}
	</div>

	<div class="column ">
		<div class="is-flex is-justify-content-space-between">
			<h1 class="title">{{child.name}}</h1>
			{% if current_user.is_authenticated %}
			<a class="button bg-a8" href="{{url_for('relations.update_child', id=child.id)}}">Editer</a>
			{% endif %}
		</div>
	
		<div class="block">
			<p>{{child.description}}</p>
		</div>
		<div class="block">
			<p><strong>Dinastie : </strong>{{child.parent.name}}</p>
		</div>

		{% if child.unit.name %}
			<div class="block">
				<p><strong>Unit : </strong>{{child.unit.name}}</p>
			</div>
		{% endif %}

		{% if child.place_coordinates.name %}

			<div class="block">
				<p><strong>Lieu de naissance : </strong>{{child.place_coordinates.name}}</p>
			</div>
		{% endif %}
		
		
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>

</script>

{% endblock %}
