{% extends 'base.html' %}

{% block title %}Colors{% endblock %}

{% block content %}
<div class="block mb-5">
	<h1 class="title">Colors</h1>
	 <h2 class="subtitle">Paleta 1</h2>
    <div class="columns">
    	
    	<div class="bg-1 p-5">color 1</div>
    	<div class="bg-a2 p-5">color a2</div>
    	<div class="bg-a3 p-5">color a3</div>
    	<div class="bg-a4 p-5">color a4</div>
    	<div class="bg-a5 p-5">color a5</div>
    	<div class="bg-a6 p-5">color a6</div>
    	<div class="bg-a7 p-5">color a7</div>
    	<div class="bg-a8 p-5">color a8</div>
    </div>

    <h2 class="subtitle">Paleta 2</h2>
    <div class="columns">
    	
    	<div class="has-fuchsia-background-color p-5">has-fuchsia-background-color</div>
    	<div class="has-blue-background-color p-5">has-blue-background-color</div>
    	<div class="has-olive-background-color p-5">has-olive-background-color</div>
    </div>

    <h2 class="subtitle py-3">Paleta 3</h2>
    <div class="columns">
    	
    	<div class="has-gray-background-color p-5">has-gray-background-color</div>
    	<div class="has-light-blue-background-color p-5">has-light-blue-background-color</div>
    	<div class="has-light-beige-background-color p-5">has-light-beige-background-color</div>
    	<div class="has-beige-background-color p-5">has-beige-background-color</div>
    	<div class="has-dark-beige-background-color p-5">has-dark-beige-background-color</div>
    	<div class="has-light-beige-background-color p-5">has-light-beige-background-color</div>
    </div>

</div>

{% endblock %}
