{% extends 'base.html' %}

{% block title %}Nouveau lieu{% endblock %}

{% block content %}
<div>
	<h1 class="title">Lieu</h1>
		<form method="POST" class="box bg-1 form-register color-a8" enctype="multipart/form-data">
		{{ form.hidden_tag()}}
		<div class="field">
       		<label class="label color-a8">{{ form.name.label() }}</label>
  			<div class="control">

  				{{ form.name(class="input", placeholder="Parent Name") }}
  			</div>
		</div>
		<div class="field">
       		<label class="label color-a8">{{ form.latitude.label() }}</label>
  			<div class="control">

  				{{ form.latitude(class="input", placeholder="coordenadase") }}
  			</div>
		</div>
		<div class="field">
       		<label class="label color-a8">{{ form.longitude.label() }}</label>
  			<div class="control">

  				{{ form.longitude(class="input", placeholder="coordenadas") }}
  			</div>
		</div>
		
            {{ form.submit(class="button is-primary") }}
	</form>

</div>

{% endblock %}
