{% extends 'base.html' %}

{% block title %}Parent{% endblock %}

{% block content %}
<div class="block">Home >  {{ parent.name }}</div>

		<h1 class="title">{{parent.name}}</h1>
		<div class="columns">
        {% for child in parent.child %}
        <div class="column is-one-quarter-desktop is-one-half-tablet">
            <div class="card">
                <figure class="image is-4by3">
                    <img src="{{child.image_url}}" alt="{{child.name}}">
                </figure>
                <header class="card-header center-text">
                    <h3 class="card-header-title">
                      <a href="{{url_for('relations.child', id=child.id)}}">{{child.name}}</a>
                    </h3>
                    
                  </header>
                                <div class="card-content">
                <div class="content">
                  {{child.description | safe | truncate(50)}}
                </div>
              </div>
              <div class="card-footer p-2">
                    <a class="tag is-primary">{{child.parent.name}}</a>
              </div>
            </div>

            
        </div>
            {% if loop.index is divisibleby(4) %}
                </div><div class="columns is-4">
            {% endif %}
        {% endfor %}
    </div>
		

	
	
		
	


{% endblock %}
