{% extends 'base.html' %}

{% block title %}Editer Empereur{% endblock %}

{% block content %}
<div>
	<h1 class="title">Editer Empereur</h1>
		<form method="POST" class="box bg-1 form-register color-a8" enctype="multipart/form-data">
		{{ form.hidden_tag()}}
		<div class="field">
       		<label class="label color-a8">{{ form.name.label() }}</label>
  			<div class="control">

  				{{ form.name(class="input", value=child_to_update.name) }}
  			</div>
		</div>
		
		<div class="field">
       		<label class="label color-a8">{{ form.parent.label() }}</label>

        <div class="select">
          <select name="parent">
            {% for p in form.parent.choices %}
              <option value="{{p[0]}}"
              {% if p[1] == child_to_update.parent.name %}
                selected
              {% endif %}>
              {{p[1]}}
            </option>
            {% endfor %}
           
            
          </select>
        </div>

		</div>
  <div class="field">
          <label class="label color-a8">{{ form.place_coordinates.label() }}</label>
           <div class="select">
          <select name="place_coordinates">
            {% for p in form.place_coordinates.choices %}
              <option value="{{p[0]}}"
              {% if p[1] == child_to_update.place_coordinates.name %}
                selected
              {% endif %}>
              {{p[1]}}
            </option>
            {% endfor %}
      </select>
        </div>
  </div> <!-- end field -->

		<div class="field">
       		<label class="label color-a8">{{ form.unit.label() }}</label>
           <div class="select">
          <select name="unit">
            {% for u in form.unit.choices %}
              <option value="{{u[0]}}"
              {% if u[1] == child_to_update.unit.name %}
                selected
              {% endif %}>
              {{u[1]}}
            </option>
            {% endfor %}
           
            
          </select>
        </div>
  		
		</div> <!-- end field -->

    <div  class="field is-horizontal">
                       
      <div class="field-body">
        <figure class="mr-3 mb-4">
          <img class="image is-128x128 parakeet-edit-image" src="{{child_to_update.image_url}}" alt="">
        </figure>
    		<div class="field">
           		<label class="label color-a8">Change Image?</label>
      			<div class="control">
      				{{ form.image(class="input",type="file", value=child_to_update.image_url) }}
      			</div>
    		</div>
      </div>
    </div>
		
		<div class="field block">
       		<label class="label color-a8 p-1">{{ form.description.label() }}</label>
  			<div class="control">
          <textarea class="textarea is-medium" name="description" id="" cols="30" rows="10">{{child_to_update.description}}</textarea>
  				
  			</div>
		</div>


            {{ form.submit(class="button is-primary") }}
	</form>

</div>

{% endblock %}
